nav {
    text-align: right;
}
.menu-item {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    position: relative;
    top: -14px;
    margin-right: 16px;
}
.menu-item:hover {
    text-decoration: underline;
}
#dropdown-icon {
    margin-right: 12px;
}
#dropdown-icon:hover {
    cursor: pointer;
}
#dropdown-menu {
    position: relative;
    top: -8px;
    margin-right: 16px;
}
section {
    text-align: center;
    padding-top: 14%;
} 
#input-wrapper {
    position: relative;
    width: 582px;
    display: inline-block;
}
#input-wrapper img {
    position: absolute;
    top: 30px;
    right: 0;
    width: 28px;
}
#search-box {
    width: 100%;
    color : #222;
    border: 1px solid #dfe1e5;
    font-size: 13px;
    padding: 14px;
    border-radius: 24px;
    outline: none;
    margin-top: 24px;
}
#search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(36, 36, 0, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
#search-box:focus {
    box-shadow: 0 1px 6px 0 rgba(36, 36, 0, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
button {
    background-color: #f2f2f2;
    color: #5F6368;
    font-size: 14px;
    height: 36px;
    padding: 0 16px;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    color: #222;
    margin: 24px 0px 24px 0px;
}
button:hover {
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222
}
button:first-of-type {
    margin-right: 16px;
}
#dropdown-wrapper {
    display: inline-block;
}
#dropdown-wrapper:hover 
    #app-dropdown {
        display: block;
    }
#app-dropdown {
    width: 285px;
    padding: 28px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 80px;
    display: none;
}
#app-dropdown div {
    display: inline-block;
    width: 84px;
    padding: 8px 2px;
    text-align: center;
}
#app-dropdown div img {
    width: 50px;
    height: 50px;
}
#app-dropdown div img:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    cursor: pointer;
}
#app-dropdown div p {
    color: rgba(0, 0, 0, 0.87);
}
